name = "lexi-main"
main = "index.js"
type = "service"
compatibility_date = "2024-01-01"

# Переменные окружения
[env.production]
name = "telegram-bot-prod"

[[env.production.vars]]
# TELEGRAM_BOT_TOKEN будет установлен через wrangler secret

# Локальное окружение для разработки
[env.development]
name = "telegram-bot-dev"
