name = "lexi-main"
main = "index.js"
type = "service"
compatibility_date = "2024-01-01"

# D1 База данных
[[d1_databases]]
binding = "DB"
database_name = "lexi_main_db"
database_id = "848ff033-2d6c-4b3d-9727-1941c73d3295"

# KV хранилище
[[kv_namespaces]]
binding = "KV"
id = "b23c34a9e4a348dc965ee2264f7a1275"

# Queues
[[queues.producers]]
binding = "MY_QUEUE"
queue = "lexi"

[[queues.consumers]]
queue = "lexi"
max_batch_size = 10
max_batch_timeout = 30
max_retries = 3
dead_letter_queue = "lexi-dlq"
